# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: '2.8.2'

default_language_version:
  python: python3

default_stages: [commit]

exclude: '\.min\.(js|css)$'


repos:
# Meta checks
- repo: meta
  hooks:
  - id: check-useless-excludes

# General fixers
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: trailing-whitespace
    exclude_types: [svg]
  - id: mixed-line-ending
    name: Normalize mixed line endings
    args: [--fix=lf]
    exclude_types: [batch]
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: fix-byte-order-marker
    name: Remove Unicode BOM
  - id: requirements-txt-fixer

# More general fixers
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.9
  hooks:
  - id: remove-tabs
    name: Replace tabs with spaces
    types: [text]
    exclude_types: [svg, batch]
    args: [--whitespaces-count, '2']

# Check and fix spelling
- repo: https://github.com/codespell-project/codespell
  rev: v2.0.0
  hooks:
  # Define separate hooks for checking and correcting spelling errors
  # since codespell doesn't print verbose output when writing changes
  - id: codespell
    name: Check spelling
    exclude: '\.gitattributes|\bworkshops\b'
  - id: codespell
    name: Fix spelling
    exclude: '\.gitattributes|\bworkshops\b'
    args: [--write-changes]

# Prettify Bash scripts
- repo: https://github.com/lovesegfault/beautysh
  rev: '6.0.1'
  hooks:
  - id: beautysh
    name: Beautify Bash scripts

# Lint Bash scripts
- repo: https://github.com/openstack/bashate
  rev: '2.0.0'
  hooks:
  - id: bashate
    name: Lint Bash scripts
    stages: [manual]
    verbose: false
    args: [--max-line-length, '80']

# Lint and fix CSS with stylelint
- repo: https://github.com/awebdeveloper/pre-commit-stylelint
  rev: '0.0.2'
  hooks:
  - id: stylelint
    name: Lint and fix CSS (stylelint)
    args: [--fix, --color, --maxWarnings, '0']
    additional_dependencies:
    - 'stylelint@13.12.0'
    - 'stylelint-config-standard@21.0.0'
    - 'stylelint-a11y@1.2.3'
    - 'stylelint-csstree-validator@1.9.0'
    - 'stylelint-declaration-block-no-ignored-properties@2.3.0'
    - 'stylelint-no-unsupported-browser-features@4.1.4'
    - 'stylelint-order@4.1.0'
    - 'postcss'  # Manually required or a11y doesn't work properly

# Lint CSS with CSSlint
- repo: https://github.com/pre-commit/mirrors-csslint
  rev: v1.0.5
  hooks:
  - id: csslint
    name: Check CSS (CSSlint)

# Pretty-format INI
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: pretty-format-ini
    name: Format INI
    types: [text]
    files: '(?<!configs\/disqus-comments)\.(ini|lektorproject|codespellrc|gitlint)$'
    args: [--autofix]

# Lint and fix JavaScript
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v7.24.0
  hooks:
  - id: eslint
    name: Lint and fix JavaScript
    args: [--fix, --max-warnings, '0', --color]
    additional_dependencies:
    - 'eslint@7.24.0'
    - 'eslint-config-standard@16.0.2'
    - 'eslint-plugin-import@2.22.1'
    - 'eslint-plugin-node@11.1.0'
    - 'eslint-plugin-promise@4.3.1'

# Check JSON
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-json

# Add doctoc to Markdown
- repo: https://github.com/thlorenz/doctoc
  rev: v2.0.0
  hooks:
  - id: doctoc
    name: Generate Markdown ToCs
    args: [--maxlevel, '3', --update-only]

# Lint Markdown
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.27.1
  hooks:
  - id: markdownlint
    name: Lint Markdown
    args: [--fix]

# Check Python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-ast
    name: Check Python AST

# Lint Python
- repo: https://github.com/pycqa/flake8
  rev: '3.9.0'
  hooks:
  - id: flake8
    name: Lint Python with Flake8
    exclude: '\bworkshops\b'

- repo: https://github.com/pycqa/pylint
  rev: pylint-2.7.4
  hooks:
  - id: pylint
    name: Lint Python with Pylint
    exclude: '\bworkshops\b'

# Check RST
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.8.0
  hooks:
  - id: rst-backticks
    name: Check RST backticks
  - id: rst-directive-colons
    name: Check RST directive colons
  - id: rst-inline-touching-normal
    name: Check RST inline touching normal

# Lint RST
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: Lint RST

# Check TOML and XML
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-toml
  - id: check-xml

# Pretty-format YAML
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: pretty-format-yaml
    name: Format Yaml
    exclude: '\bworkshops\b'
    args: [--autofix, --indent, '2', --preserve-quotes]

# Check YAML
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-yaml

# Lint YAML
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.25.0
  hooks:
  - id: yamllint
    name: Lint Yaml
    types: [yaml]
    args: [-s, -f, colored]

# Replace CRLF with LF post-prettify
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.9
  hooks:
  - id: remove-crlf
    name: Replace CRLFs with LF
    types: [text]
    exclude_types: [batch]


# General checkers

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.8.0
  hooks:
  - id: text-unicode-replacement-char
    name: Check for Unicode replacement chars

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
    args: [--maxkb=1025]
  - id: check-case-conflict
  - id: check-executables-have-shebangs
    exclude: 'pre\-commit\-config\.yaml'
  - id: check-merge-conflict
  - id: check-symlinks
  - id: destroyed-symlinks


# Commit message hooks #

# Check that commit message follows basic rules
- repo: https://github.com/jorisroovers/gitlint
  rev: v0.15.0
  hooks:
  - id: gitlint
    name: Check commit message

# Check commit message spelling
- repo: https://github.com/codespell-project/codespell
  rev: v2.0.0
  hooks:
  - id: codespell
    name: Check commit message spelling
    stages: [commit-msg]
