[tool]
  [tool.curlylint]
    # include = '\.(html|jinja)$'
    # exclude = '''

    [tool.curlylint.rules]
      # All role attributes must be valid.
      # See https://www.curlylint.org/docs/rules/aria_role.
      aria_role = true
      # Forms cannot be rendered with as_table, as_ul, or as_p
      # See https://www.curlylint.org/docs/rules/django_forms_rendering.
      django_forms_rendering = true
      # The `lang` attribute must be "en-US".
      # See https://www.curlylint.org/docs/rules/html_has_lang.
      html_has_lang = true
      # The `alt` attribute must be present.
      # See https://www.curlylint.org/docs/rules/image_alt.
      image_alt = true
      # Use 2 spaces for indent.
      # See https://www.curlylint.org/docs/rules/indent.
      # indent = 2
      # `user-scalable=no` must not be used, and `maximum-scale` should be 2 or above.
      # See https://www.curlylint.org/docs/rules/meta_viewport.
      meta_viewport = true
      # The `autofocus` attribute must not be used.
      # See https://www.curlylint.org/docs/rules/no_autofocus.
      no_autofocus = true
      # Avoid positive `tabindex` values, change the order of elements on the page instead.
      # See https://www.curlylint.org/docs/rules/tabindex_no_positive.
      tabindex_no_positive = true
