pre-commit>=2.10.0,<4  # For pre-commit hooks; Lowercap to config syntax
pydata-sphinx-theme>=0.14.1,<0.16  #  Theme; Lowercap to add version warning
sphinx>=5,<8  # Docs generator; Cap to range confirmed supported by deps
sphinx-design>=0.5.0,<0.6  # For dropdowns and panels; lowercap to sphinx>=5,<8
