git+https://github.com/spyder-ide/spyder-docs-sphinx-theme.git@develop_spyder
jinja2>=2,<3  # Sphinx <4 is not compatible with Jinja >=3
MarkupSafe>=1,<2  # Sphinx <4 is not compatible with MarkupSafe >=2
pre-commit>=2.10.0,<4  # For pre-commit hooks
sphinx>=3,<4  # Sphinx-Multiversion is not compatible with Sphinx 4
sphinx-multiversion  # For version selector support
sphinx-panels  # For dropdowns and other fancy UI elements
