pre-commit>=2.10.0,<4  # For pre-commit hooks; lowercap to config syntax
pydata-sphinx-theme>=0.14.1,<0.17  # Theme; lowercap to add version warning
sphinx>=5,<9  # Docs generator; cap to range confirmed supported by deps
sphinx-design>=0.5.0,<0.7  # For dropdowns and panels; lowercap to sphinx>=5,<8
